@{
    Layout = "_Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @section head{
        <h4>Head Section</h4>
    }
    @section Greetings{
        <h5> Another Section</h5>
    }
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
