@{
    Layout = null;
}

@{ var price = 50; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This is a first</title>
</head>
<body>
    <div>
    <h1> my first test page</h1>
        <p>Another line of text</p>
        <a href="http://www.nait.ca">a link</a>
        @if (price > 30) { <h3> The Price is high</h3>}
        else { <h5>the price is wrong</h5>}
    </div>
</body>
</html>
