@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This is a first</title>
</head>
<body>
    <div>
    <h1> my first test page</h1>
        <p>Another line of text</p>
        <a href="http://www.nait.ca">a link</a>
    </div>
</body>
</html>
