@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise 02";

}
@section head{
    <link href="~/Content/myStyleSheet.css" rel="stylesheet" />
}
@section banner{
    <h1>Exercise 02: Basic Form Processing</h1>
}

@if (IsPost)
{

}