@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise 02";

    var db = Database.Open("CHDB"); //open chinook database
    var theButton = Request.Form["theButton"];
    var artistName = Request.Form["dataentry"];

    var artistQuery = "SELECT ArtistId, Name "
                    + "FROM Artists "
                    + "ORDER BY Name";
    
    var artistResults = db.Query(artistQuery);



}
@section head{
    <link href="~/Content/myStyleSheet.css" rel="stylesheet" />
}
@section banner{
    <h1>Exercise 03: Database Data Entry</h1>
}