@{
    Page.Title = "Hello";
    Layout = "~/_Layout.cshtml";
}
@section head{
<link href="~/Content/myStyleSheet.css" rel="stylesheet" />}
@section banner{
    <h1>CPSC Razor Exercises</h1>}
    <div>
        <p></p>
    </div>
@section footer{
    <p>&copy CPSC1517, Nait Today's date is @DateTime.Today.ToLongDateString().</p> }

